<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>8. Float (latihan 1)</title>
    <link rel="stylesheet" href="8.css">
</head>
<body>
    <!-- text wrapping / Gambar yang dikelilingi teks -->
    <div class="container">
        <img src="my.png" alt="Gagal dimuat" width="300px">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, hic? Earum voluptas, placeat quaerat officia molestiae voluptatum. Magnam corrupti, culpa commodi eius voluptatibus ducimus asperiores provident quibusdam incidunt reiciendis maiores voluptates, ea optio sit non reprehenderit pariatur et assumenda dicta distinctio ab a. Eveniet aliquam dicta minus praesentium ipsa. Obcaecati quia exercitationem temporibus explicabo reiciendis voluptatem maiores culpa, consectetur consequuntur ipsam perspiciatis excepturi. Reiciendis ullam nam veritatis nihil, modi architecto, officiis quis ducimus ipsa assumenda fugiat rem consequuntur. Natus impedit facilis maxime? Beatae esse eaque repudiandae quibusdam asperiores animi accusantium laudantium ad est optio? Possimus beatae dicta nesciunt tempore sunt?</p>
    </div>
</body>
</html>