<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>6. CSS Reset</title>
    <link rel="stylesheet" href="6.css">
</head>
<body>
    <div></div>
    <h1>Hello Dunia</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor, fuga iure repellat quis inventore perferendis voluptatum omnis aliquid quibusdam corrupti quam similique corporis? Suscipit harum necessitatibus ut maxime, porro inventore neque autem eaque ab, facere asperiores voluptatem nisi? Voluptas molestiae quibusdam nobis minus saepe repellat commodi optio temporibus quo nesciunt!</p>
</body>
</html>