<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>9. Clear (Latihan 2)</title>
    <link rel="stylesheet" href="9.css">
</head>
<body>
    <!-- Image Gallery -->
    <div class="container">
        <div class="kotak">1</div>
        <div class="kotak">2</div>
        <div class="kotak">3</div>
        <div class="kotak">4</div>
        <div class="kotak">5</div>
        <div class="kotak">6</div>
        <div class="kotak">7</div>
        <div class="kotak">8</div>
        <div class="kotak">9</div>
        <div class="kotak">10</div>

        <div class="clear"></div>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod perferendis commodi minus ut est, id expedita. Omnis architecto illum possimus, praesentium voluptatibus itaque aperiam esse fugit fugiat fuga quos veniam quo sit delectus neque odio error maiores beatae perferendis eligendi magni unde facere? Error laboriosam quaerat debitis doloribus officiis maxime quos ea harum, quisquam sit reiciendis libero, consequatur eveniet perspiciatis id iure ipsum est explicabo? Nobis unde delectus non, eos id deleniti perferendis repudiandae ratione facere labore asperiores illum fuga autem, cum, sit vitae sunt architecto eligendi exercitationem totam atque vel excepturi dicta harum. Dolores aperiam maxime repellat quo. Hic.</p>

    </div>
</body>
</html>