<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>10. Latihan 2</title>
    <link rel="stylesheet" href="10.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1 class="judul">MyWebsite</h1>
            <ul>
                <li><a href="#">home</a></li>
                <li><a href="#">about</a></li>
                <li><a href="#">products</a></li>
                <li><a href="#">services</a></li>
                <li><a href="#">contact</a></li>
            </ul>
        </div>

        <div class="hero"></div>

        <div class="content cf">
            <div class="main">
                <h2>Judul Artikel</h2>
                <div class="penulis">Ditulis oleh <a href="#">Haikal Irawan</a> pada 23 Juli 2021</div>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam nostrum natus tempore delectus. Unde nostrum exercitationem nemo? Tenetur, cum facere dolore exercitationem voluptatem rem quas. Beatae officia, ut libero, assumenda commodi autem odio praesentium aperiam quidem iste id? Reprehenderit ad provident, nisi beatae minus nobis recusandae amet nostrum omnis nulla, laborum cumque consectetur, hic impedit nemo iste! Libero sit numquam alias corrupti reiciendis quia cumque perferendis repellendus quaerat, consequuntur in quo facere atque possimus, nihil laboriosam aut quod exercitationem. Corrupti cupiditate assumenda velit officia alias explicabo perferendis numquam dolores, tempora magni soluta labore fugiat libero itaque recusandae quo aperiam eaque?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, optio culpa soluta necessitatibus porro ducimus aspernatur impedit. Quo delectus deleniti labore, autem rem tenetur laborum voluptate animi hic illum quibusdam itaque, neque reiciendis quasi commodi error soluta dolore ab ducimus facere culpa voluptatum omnis veritatis. Aperiam nam fugit officiis corporis?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et explicabo vero minima hic consectetur. Quasi adipisci aperiam iure esse, facere amet vero nulla deserunt suscipit incidunt nisi voluptatibus possimus deleniti maiores consectetur optio, eligendi aliquam numquam. Molestias adipisci consequuntur autem animi perspiciatis sint sit, aut hic laborum quia praesentium officiis nemo voluptatem aspernatur expedita quibusdam asperiores modi. Vel ad delectus labore deserunt, dolores rem sequi sit at nam quis ipsam voluptatibus? Necessitatibus, laborum laudantium tempora rem accusantium velit consectetur sit!</p>
            </div>

            <div class="sidebar">
                <h3>Tentang Penulis</h3>
                <img src="../10. Latihan/img/profile.png" alt="Foto Profile gagal diupload">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, ab vel blanditiis possimus consequuntur Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, eveniet. Lorem ipsum dolor sit amet consectetur adipisicing elit. ipsam labore commodi deserunt voluptatibus necessitatibus.</p>
            </div>
        </div>

        <div class="footer">
            <p class="copyright">Copyright by Haikal Irawan 2021</p>
        </div>
    </div>
</body>
</html>