/* Value Transition */
/* [property] <durasi> [fungsi] [delay] */

body {
    padding: 0;
    margin: 0;
}

.kotak {
    width: 100px;
    height: 100px;
    background-color: salmon;
    text-align: center;
    line-height: 100px;
    margin: 5px 0;
}

.kotak1 {
    transition: all 3s ease;
}

.kotak2 {
    transition: all 3s ease-in;
}

.kotak3 {
    transition: all 3s ease-out;
}

.kotak4 {
    transition: all 3s ease-in-out;
}

.kotak5 {
    transition: all 3s linear;
}

.kotak6 {
    transition: all 3s cubic-bezier(0.19, 0.4, 1, 0.18);
}

.container:hover .kotak {
    transform: rotate(180deg);
    margin-left: 800px;
    background-color: royalblue;
}

.container:hover {
    background-image: linear-gradient(45deg, blue, red);
    border: 5px solid chartreuse;
}

.container {
    transition: 1s;
    width: 900px;
    margin: 10px auto;
    border: 5px solid black;
    background-image: linear-gradient(45deg, blue, violet, red);
}