<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>5. Padding</title>
    <link rel="stylesheet" href="5.css">
</head>
<body>
    <div class="satu">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta, assumenda nulla cum explicabo eos consequatur iste debitis doloribus incidunt repudiandae dolorem ea alias beatae quos maiores iure vero culpa excepturi ad fuga! Soluta optio laboriosam iusto laborum id, quasi hic beatae nesciunt repellat 
        recusandae eveniet labore magni eius error cumque.</div>

    <div class="dua">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum nobis repudiandae, eum, nulla facilis eos error illo doloribus quasi adipisci odit omnis cum mollitia officiis totam eligendi eaque? Eos recusandae ipsum aspernatur rem veniam quos, provident ducimus? Quasi praesentium tenetur 
        earum expedita eos doloribus pariatur officia odit vero, accusantium ab.</div>
</body>
</html>