<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="1.css">
    <title>1. Display</title>
</head>
<body>
    
    <div class="header">
        <h1>Selamat datang di website saya</h1>
    </div>

    <div class="navigasi">
        <h3>Daftar link</h3>
        <!-- ul>li*5>a[href=#]{link $} -->
        <ul>
            <li><a href="#">link 1</a></li>
            <li><a href="#">link 2</a></li>
            <li><a href="#">link 3</a></li>
            <li><a href="#">link 4</a></li>
            <li><a href="#">link 5</a></li>
       </ul>
    </div>

    <div class="main">
        <h2>Judul Artikel</h2>
        <img src="../../Dasar/6. Background/profile.png" alt="Gambar gagal diupload" width="30%" height="30%">

        <p>Lorem, ipsum dolor sit amet <span>consectetur adipisicing elit</span>. Sed deserunt officiis sequi. Et, aliquam dolores ea odit molestias fugiat laboriosam, soluta fugit nobis totam ab facilis deleniti assumenda rem numquam. Corporis fugiat unde error rem repellendus animi quas id eum sit, eaque provident explicabo architecto, omnis amet, voluptatum ut illo.</p>
        <p>Lorem ipsum <span>dolor sit amet consectetur</span> adipisicing elit. Quaerat consectetur qui tempora laudantium enim eos, veniam quis cupiditate laborum incidunt facilis aspernatur! Modi, possimus quis, sequi dicta veritatis labore officia recusandae suscipit eveniet perspiciatis commodi sed nobis harum eaque facere illum odit. Non aspernatur obcaecati laborum quasi id nam quas molestiae vitae nemo officia deserunt sed libero qui, architecto ex ipsum. Molestiae eaque cum earum repellat molestias perspiciatis. Tenetur aliquam nostrum labore neque corrupti atque, ipsum, repudiandae, quibusdam cupiditate eos velit? Suscipit magni quos omnis quam minus quo necessitatibus quis incidunt, fugit vitae ratione repellendus nisi! Doloremque ratione necessitatibus animi.</p>
    </div>

    <div class="footer">
        <p>Copyright 2021. <em> Haikal Irawan. </em></p>
    </div>
    
    

</body>
</html>